.turtle-storm {
  display: flex;
  width: 100%;
  height: 400px; /* match canvas height or use auto */
  overflow: hidden;

  margin-bottom: var(--pico-spacing);
}

#turtle-canvas {
  background-color: white;
  border: var(--pico-border-width) solid black;
  border-radius: var(--pico-border-radius);
  width: 800px;
  height: 400px;
  flex-shrink: 0; /* prevent shrinking */
}

command-history {
  flex: 1;
  overflow: auto; /* enables scroll if content overflows */
  padding: var(--pico-spacing);
  border: var(--pico-border-width) solid var(--pico-muted-border-color);
  border-radius: var(--pico-border-radius);
  background-color: var(--pico-background-color);
  margin-left: var(--pico-spacing);
}

.commands-heading {
  margin: 0 0 var(--pico-spacing) 0;
  padding-bottom: var(--pico-spacing-s);
  border-bottom: var(--pico-border-width) solid var(--pico-muted-border-color);
  font-size: 1.2em;
  color: var(--pico-color);
}

.commands-list {
  height: 100%;
  overflow-y: auto;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.command-item {
  padding: var(--pico-spacing-s);
  border-bottom: var(--pico-border-width) solid var(--pico-muted-border-color);
  font-family: var(--pico-font-family-monospace);
}

.command-item:last-child {
  border-bottom: none;
}
